<div class="row">
  <div class="col-6"><h1>Users</h1></div>
  <div class="col-6 d-flex justify-content-end">
    <a
      href="/addinfocardspos"
      type="button"
      class="btn btn-primary align-self-center"
    >+ add infor cards</a>
  </div>
</div>

<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Registro</th>
      <th scope="col">Operador</th>
      <th scope="col">Núm. Caixa Físic</th>
      <th scope="col">Núm. Caixa Logic</th>
      <th scope="col">Valor</th>
      <th scope="col">Cód. Bandeira</th>
      {{! <th scope="col">Data Registro</th> }}
      <th scope="col">Nome Bandeira</th>
      {{! <th scope="col">Observações</th> }}
      <th scope="col" class="text-end">Action</th>
    </tr>
  </thead>
  <tbody>

    {{#each rows}}

      <tr>
        <th scope="row">{{this.id}}</th>
        <td>{{this.nameoperator}}</td>
        <td>{{this.numboxfisic}}</td>
        <td>{{this.numboxlogic}}</td>
        <td>{{this.valuepos}}</td>
        <td>{{this.id_tabcardsflags}}</td>
        <td>{{this.nameflag}}</td>
        {{!-- <td>{{this.dateoccurrence}}</td> --}}
        {{!-- <td>{{this.notes}}</td> --}}
        {{! <td>Otto</td> }}
        <td class="text-end">
          <a href="#" type="button" class="btn btn-light btn-small"><i
              class="bi bi-eye"
            ></i>View</a>
          <a href="#" type="button" class="btn btn-light btn-small"><i
              class="bi bi-pencil"
            ></i>Edit</a>
          <a href="#" type="button" class="btn btn-light btn-small"><i
              class="bi bi-person-x"
            ></i>Delete</a>
        </td>
      </tr>
      {{! <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr> }}

    {{/each}}

  </tbody>
</table>